.home-content{
      margin: auto;
      width: 100%;
      max-width:600px;
      padding: 10px;
    .p-button-secondary{
        margin-top:10px;
    }
   
    div{
        margin:auto;
        text-align:center;
    }
}